<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.htwg.lange_nacht"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.htwg.lange_nacht.gui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.htwg.lange_nacht.gui.StrafeAnlegenActivity"
            android:label="@string/title_activity_strafe_anlegen" >
        </activity>
        <activity
            android:name="de.htwg.lange_nacht.gui.StrafeEintragenActivity"
            android:label="@string/title_activity_strafe_eintragen" >
        </activity>
        <activity
            android:name="de.htwg.lange_nacht.gui.SpielerAuswaehlenActivity"
            android:label="@string/title_activity_spieler_auswaehlen" >
        </activity>
        <activity
            android:name="de.htwg.lange_nacht.gui.SpielerUebersicht"
            android:label="@string/title_activity_spieler_uebersicht" >
        </activity>
    </application>

</manifest>
